<div>
  <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32 }" nzJustify="start">
    <nz-col [nzXs]="24" [nzSm]="12">
      <button
        nz-button
        nzType="default"
        nzShape="round"
        [routerLink]="['/new']"
        style="width: 100%"
      >
        Make a Reservation
      </button>
    </nz-col>

    <nz-col [nzXs]="24" [nzSm]="12">
      <button
        nz-button
        nzType="default"
        nzShape="round"
        [routerLink]="['/list']"
        style="width: 100%"
      >
        Check my Reservation
      </button>
    </nz-col>
  </nz-row>
</div>
